# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
before_install:
  - pip install --user moto
before_script:
  - export PATH=$PATH:$HOME/.local/bin
  - echo $PATH
  - ls $HOME/.local/bin
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("MotoServer"); Pkg.test("MotoServer"; coverage=true)'
after_script:
  - echo $PATH
after_success:
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("MotoServer")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
